<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/sliderStyles.css" />
    <link rel="stylesheet" href="styles/dragstuffStlyes.css" />
    <link rel="stylesheet" href="styles/incrementStyles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Sibai</title>
  </head>

  <body>
    <header>
      <div class="wrapper">
        <nav>
          <ul class="nav-list">
            <li class="list__item"><a href="#" class="list__link">Home</a></li>
            <li class="list__item">
              <a href="#" class="list__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
