<header>
  <div class="wrapper">
    <nav>
      <ul class="nav-list">
        <li class="list__item">
            <a href="<%= homeLink %>" class="list__link">Home</a>
        </li>
        <li class="list__item">
          <a href="<%= contactLink %>" class="list__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
