<!-- Step 3 Add Header -->
<%- include('partials/header.ejs') %> <% if (locals.homeLink &&
locals.contactLink) { %> <%- include('partials/navbar.ejs') %> <% } %>

<main class="main">
  <div class="content">
    <h1>too lazy to make this page</h1>
  </div>
</main>

<style>
  h1 {
    text-align: center;
  }

  .main {
    /* outline: 1px solid green; */
  }

  .content {
    /* outline: 1px solid rgb(235, 180, 63); */

    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<!-- Step 3 Add Footer -->
<%- include('partials/footer.ejs') %>
